.lorzy-accepts-expression, .lorzy-accepts-appended-expression {
        min-height: 2em;
       border: 2px solid grey;
        padding-top: 0.25em;
        padding-bottom: 0.25em;
        background: #eee;
}

.droppable-active {
       border: 2px solid green;
        min-height: 2em;

}

.droppable-hover {
        background: #2f2;
        min-height: 2em;
}


draggable-active {
        color: #66f;
}

.lorzy-expression {
    border: 2px solid #666;
    background-color: #fff;
    
}

#wrapper div.lorzy-code>.name:before {
    content: 'code: ';

}
    
#wrapper div.lorzy-code-arg {
    
  color: green;
}

#wrapper div.lorzy-code-arg>.name:before{
    content: 'arg: ';
}

#wrapper span.lorzy-const {
  color: black;
}

#wrapper span.lorzy-const:before {
    content: "constant: ";
}


#wrapper div {
    padding: 0.25em;
    -moz-border-radius: 5px;
 /*border: 1px solid #ffffff; */
}

#wrapper div.selected {
   background: #cca;
}

#wrapper div.hover {
    background: #ffc;
}

#wrapper div.lorzy-code {
  width: 300px;
  color: blue;
}
.droppable-hover .lorzy-expression {
        color: #000;
        background-color: #fff;
    filter:alpha(opacity=20);
    -moz-opacity:0.2;
    -khtml-opacity: 0.2;
    opacity: 0.2;
}


