
#wrapper div.lorzy-code>.name:before {
    content: 'code: ';

}
    
#wrapper div.lorzy-code-arg {
    
  color: green;
}

#wrapper div.lorzy-code-arg>.name:before{
    content: 'arg: ';
}

#wrapper span.lorzy-const {
  color: black;
}

#wrapper span.lorzy-const:before {
    content: "constant: ";
}


#wrapper div {
    padding: 0.25em;
    -moz-border-radius: 5px;
 /*border: 1px solid #ffffff; */
}

#wrapper div.selected {
   background: #cca;
}

#wrapper div.hover {
    background: #ffc;
}

#wrapper div.lorzy-code {
  width: 300px;
  color: blue;
}

